## shiro
shiro.session.timeout=1800000
shiro.session.validate.timespan=1800000

system.domain.protocol=https
system.domain.hostName=ypzdw.com
system.domain.staticPrefix=static
system.domain.shopPrefix=www
system.domain.oldCrmPrefix=khgx
system.domain.basePath=https://crm.ypzdw.com/miser
system.domain.crmDomain=https://crm.ypzdw.com
system.domain.exhibitDomain=https://exhibit.ypzdw.com
## 上月历史价格
report.prevMonth.goods.avgPrice.Id=MjAxNjAwMDAwAhw1HMDEwMzkxMjE1

## 兼容原有DotNet促销系统
system.compatibleModel=true

## 同步促销数据接口
system.mall.promotion.url.syncOldPromotionData=https://soa2.ypzdw.com/Promotions/SyncPromoGoods
system.mall.promotion.url.syncAuditOldPromotionData=https://soa2.ypzdw.com/Promotions/SyncAuditPromoGoods
system.mall.promotion.url.syncOldPromotionTopicPicData=https://soa2.ypzdw.com/Promotions/SyncPromoGoodsTopicPic

## 多系统SSO时需使用的统一域名，目前使用一级域名
sso.domain=ypzdw.com

## 临时上传文件目录
system.upload.tempDir=/ywkj/tomcat/miser/tmp/

system.domain.passPrefix=pass
system.domain.salesPrefix=sales
system.domain.passportDomain=https://passport.ypzdw.com
system.currentEnvironment=prd

system.mall.promotion.url.syncDisablePromoGoodsData=https://soa2.ypzdw.com/Promotions/SyncDisablePromoGoods
