thrift.host={{ j2_thrift_ip0 }}
thrift.port={{ j2_thrift_port03 }}

order.thrift.host={{ j2_thrift_ip0 }}
order.thrift.port={{ j2_thrift_port04 }}

da.thrift.host={{ j2_thrift_ip2 }}
da.thrift.port={{ j2_thrift_port21 }}

scan.log.url=https://maidian.ypzdw.com/da/log/log
scan.data.ip={{ j2_thrift_ip1 }}
scan.data.port={{ j2_thrift_port12 }}
userAccountService.thrift.host={{ j2_thrift_ip0 }}
userAccountService.thrift.port={{ j2_thrift_port03 }}


itemSearchService.ip={{ j2_thrift_ip1 }}
itemSearchService.port={{ j2_thrift_port13 }}