canal.clusterAddress={{ j2_zk_dns2 }}:{{ j2_zk_port }},{{ j2_zk_dns3 }}:{{ j2_zk_port }},{{ j2_zk_dns1 }}:{{ j2_zk_port }}
canal.host=
canal.port=
canal.destination=ypzdw_busi_v3
canal.user=repl_user
canal.password=repl_user
canal.batchSize=1000
canal.filterRegex=ypzdw_item.item,ypzdw_item.item_stat,ypzdw_item.product,ypzdw_item.product_property,ypzdw_item.sku,ypzdw_item.sku_inventory,ypzdw_item.sku_price,ypzdw_busi_v3.shopbaseinfo,ypzdw_busi_v3.users,ypzdw_busi_v3.attached,ypzdw_busi_v3.userbasic
