canal.clusterAddress={{ j2_canal_host }}:{{ j2_canal_port }}
canal.host=
canal.port=
canal.destination=example|ypzdw_busi_v3
canal.user={{ j2_canal_user }}
canal.password={{ j2_canal_passwd }}
canal.batchSize=1000
canal.filterRegex=ypzdw_item.item,ypzdw_item.item_stat,ypzdw_item.product,ypzdw_item.product_property,ypzdw_item.sku,ypzdw_item.sku_inventory,ypzdw_item.sku_price,ypzdw_invoice.invoicing_shop_setting|ypzdw_busi_v3.shopbaseinfo,ypzdw_busi_v3.users,ypzdw_busi_v3.attached,ypzdw_busi_v3.userbasic
