system.env=test
system.yaoyi.web.httpPrefix=http://192.168.2.155:8080/
system.attachments.prefix=http://192.168.0.244:8080/

system.mall.promotion.url.hotGoods=http://soa.ypzdw.org/Promotions/HotMessage
system.mall.promotion.url.groupBuy=http://soa.ypzdw.org/Promotions/GroupBuyMessage
system.mall.imgUrl.prefix=http://static.ypzdw.org/Handler/FileHandler.ashx?fid=

scan.log.url=http://192.168.0.246:8888/da/log/log
scan.data.ip=192.168.2.27
scan.data.port=3456

## shiro
shiro.session.timeout=1800000
shiro.session.validate.timespan=1800000
shiro.session.domain=.ypzdw.org

## domain
system.domain.shop=http://www.ypzdw.org
system.domain.pur=http://pur.ypzdw.org
system.domain.sales=http://sales.ypzdw.org
system.domain.brand=http://brand.ypzdw.org
system.domain.pass=http://pass.ypzdw.org
system.domain.passport=http://passport.ypzdw.org
system.domain.static=http://static.ypzdw.org
system.domain.static2=http://static2.ypzdw.org
system.domain.soa=http://openapisoa.ypzdw.org

system.mall.account.url.syncOldEcMobile=http://openapisoa.ypzdw.org/Account/SyncOldEcMobile
system.mall.account.url.syncOldEcPassword=http://openapisoa.ypzdw.org/Account/SyncOldEcPassword