#dubbo
dubbo.registry.protocol=zookeeper
dubbo.registry.address=192.168.0.221:2181
dubbo.protocol.name=dubbo
dubbo.protocol.host=127.0.0.1
dubbo.protocol.groundhog.port=20999
dubbo.service.version=1.0.0
