datasource.type=mysql
datasource.driverClassName=com.mysql.jdbc.Driver
datasource.url=jdbc:mysql://54.222.145.94:3307/stage_groundhog?autoReconnect\=true&amp;useUnicode\=true&amp;characterEncoding\=utf8
datasource.username=stage
datasource.password=stage


oldec.datasource.url=jdbc:mysql://stage.cmqndxdodheb.rds.cn-north-1.amazonaws.com.cn:8306/ypzdw_busi_v3?autoReconnect\=true&amp;useUnicode\=true&amp;characterEncoding\=utf8
oldec.datasource.username=user
oldec.datasource.password=yjy20111008

passport.datasource.url=jdbc:mysql://54.222.145.94:3307/stage_passport?autoReconnect\=true&amp;useUnicode\=true&amp;characterEncoding\=utf8
passport.datasource.username=stage
passport.datasource.password=stage

c3p0.acquireIncrement=3
c3p0.initialPoolSize=3
c3p0.idleConnectionTestPeriod=900
c3p0.minPoolSize=2
c3p0.maxPoolSize=50
c3p0.maxStatements=100
c3p0.numHelperThreads=10
c3p0.maxIdleTime=600