kafka.allTopic=orderMsg,financeMsg,sysMsg,articleMsg,memberPointsMsg,promotionMsg,imMsg,ec_coupon
kafka.partition.num=3
kafka.zk={{ j2_zk_ip }}:{{ j2_zk_port }}
kafka.group.id=group-org
kafka.broker.list={{ j2_kafka_ip }}:{{ j2_kafka_port }}
#-----数据同步
kafka.zookeeper={{ j2_zk_ip }}:{{ j2_zk_port }}
group.id=group-org
bootstrap.servers={{ j2_kafka_ip }}:{{ j2_kafka_port }}
