datasource.driverClassName=com.mysql.jdbc.Driver
datasource.url=jdbc:mysql://{{ j2_mysql_dns }}:{{ j2_mysql_port }}/stage_passport?autoReconnect\=true&amp;useUnicode\=true&amp;characterEncoding\=utf8
datasource.username={{ j2_mysql_user }}
datasource.password={{ j2_mysql_passwd }}



pool.initialSize=3
pool.minIdle=3
pool.maxActive=20

