business.product.url=http://ceres.ypzdw.info/api/product/getAllProductsOfCso

account.talk.url=http://ceres.ypzdw.info/api/fans/getPublicAccountAndTalk
env=pre_prd
passportUrl=http://passport.ypzdw.info
domainUrl=http://services.ypzdw.info

#crm地址
old.system.url=http://ywcrm.ypzdw.info
