zkconnect={{ j2_zk_dns1 }}:{{ j2_zk_port }},{{ j2_zk_dns2 }}:{{ j2_zk_port }},{{ j2_zk_dns3 }}:{{ j2_zk_port }}
yaoxiaobao_dubbo_zk={{ j2_zk_dns1 }}:{{ j2_zk_port }},{{ j2_zk_dns2 }}:{{ j2_zk_port }},{{ j2_zk_dns3 }}:{{ j2_zk_port }}

system.domain.url.soa=https://soa2.ypzdw.com
system.domain.url.product.soa=https://soa2.ypzdw.com/order/rest
system.url.spread.productDetail=https://cdn.ypzdw.com/ZhongDuanBao/h5/v1.7/html/makerDetails.html
system.url.spread.qr=https://ceres.ypzdw.com/admin/plugins/qr
system.url.common.pic.show=https://static.ypzdw.com/Handler/FileHandler.ashx
system.url.common.pic.del=/admin/plugins/file/delete



system.url.data.baseUrl=https://dreport.ypzdw.com/exterior/data/MjAxNzAwMDAwAhw1HMDExMDUwNjI3

#数据部报表
data.marketing.summary.table.url=https://dreport.ypzdw.com/exterior/data/MjAxNzAwMDAwAhw1HMDExMDYwNjI3
data.marketing.summary.table.maker.url=https://dreport.ypzdw.com/exterior/data/MjAxNzAwMDAwAhw1HMDExMDQwNjI3
#组织账户余额最小值
account.balance.minimum=500
#区域转换
area.chang.url=https://soa2.ypzdw.com/System/getAreaByCodes
