zkconnect={{ j2_zk_dns }}:{{ j2_zk_port }}
yaoxiaobao_dubbo_zk={{ j2_zk_dns }}:{{ j2_zk_port }}
brokers={{ j2_kafka_dns }}:{{ j2_kafka_port }}
prefetchCount=2
api_url=http://m.ypzdw.info/api/area/getOpenAreas
customer_proxy_url=http://dreport.ypzdw.info/exterior/data/MjAxNjAwMDAwAhw1HMDEwMjYxMTIx
sys_root=

myDomainUrl=http://khgx.ypzdw.info
businessId=60557
loggingUrl=http://pass.ypzdw.info/Main/Login/Index
loggingOutUrl=http://sales.ypzdw.info/main/home/LoginOut

passportUrl=http://passport.ypzdw.info
domainUrl=http://ywcrm.ypzdw.info


manageLoginUrl=http://m.ypzdw.info
behaviorRecordTableId=MjAxNzAwMDAwAhw1HMDEwNTMwMzE2

manageUrl=http://m.ypzdw.info

system.url.common.pic.show=https://static.ypzdw.com/Handler/FileHandler.ashx
system.url.common.pic.del=/crm/plugins/file/delete

#添加厂家数据
business_url=http://ceres.ypzdw.info/api/csoInfo/addCsoInfo
#新增公众号信息地址
add.account.url=http://ceres.ypzdw.info/api/fans/addPublicAccountRelation
#同步数据地址
save.cso.role.url=http://repairman.ypzdw.info/productAgreement/saveCSORole
save.agreement.url=http://repairman.ypzdw.info/productAgreement/saveAgreement

#营销宝后台地址
new.system.url =http://services.ypzdw.info/hermes/admin/home


env=pre_prd
