mongo_ip={{ j2_mongo_db_ip }}
mongo_port={{ j2_mongo_db_port }}
mongo_user={{ j2_mongo_db_user }}
mongo_pass={{ j2_mongo_db_passwd }}
mongo_database=upfiles

#connection config
connections_per_host=5
#milliseconds
max_wait_time=3000
connect_timeout=15000