system.env=pre_prd
system.domain.crmDomain=http://crm.ypzdw.info
system.anniversary.beginTime=1493568000
system.anniversary.endTime=1496246400
system.anniversary.url.GetPayRequest=http://www.ypzdw.info/Api/Order/GetPayRequest?payCode=%s
system.anniversary.url.GetPaycodeList=http://www.ypzdw.info/Api/Order/GetPayCodeList?userId=%d&date=%d&count=%d
system.anniversary.url.PushCoupon=http://www.ypzdw.info/Api/CouponService/PushCoupon