#!/bin/bash
JAVA_HOME={{ j2_java_home }}
CATALINA_PID={{ CATALINA_PID }}
JAVA_OPTS="-server -Duser.timezone=Asia/Shanghai -Dfile.encoding=UTF-8 -Xms128m -Xmx512m -XX:PermSize=256m -XX:MaxPermSize=512m -verbose:gc -Xloggc:${CATALINA_HOME}/logs/gc.log`date +%Y-%m-%d-%H-%M` -XX:+UseConcMarkSweepGC -XX:+CMSIncrementalMode -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -noclassgc"
