business.product.url=https://ceres.ypzdw.com/api/product/getAllProductsOfCso
account.talk.url=https://ceres.ypzdw.com/api/fans/getPublicAccountAndTalk
env=prd
passportUrl=https://passport.ypzdw.com
domainUrl=https://services.ypzdw.com
#crm地址
old.system.url=https://ywcrm.ypzdw.com
