kafka.allTopic=orderMsg,financeMsg,sysMsg,articleMsg,memberPointsMsg,promotionMsg,imMsg,ec_coupon
kafka.partition.num=3
kafka.zk={{ j2_zk_dns }}:{{ j2_zk_port }}
kafka.group.id=yaoyi-group
kafka.broker.list={{ j2_kafka_dns }}:{{ j2_kafka_port }}
